/*universal style*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/*whole html style*/

#total {
    display: block;
    margin: 7.5vh auto 7.5vh auto;
    min-height: 80vh;
    height: auto;
    padding: 1px;
    text-align: center;
    width: 75vw;
    padding: 0px 5%;
    max-width: 700px;
    background-color: #eee8d5;
}

.div-ran {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
}


/*output html style*/

#outp {
    display: block;
    margin: 0 auto 0 auto;
    width: auto;
    text-align: left;
    overflow: auto;
}

.slider {
    width: 100%;
    height: 35px;
}

.slider::-webkit-slider-thumb {
    width: 25px;
    height: 15px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 35px;
    cursor: pointer;
}